@media (max-width: 729px) {
    body {
        flex-direction: column;
        align-items: center;
        width: 100%;
        background:red;
    }
    a {
        width: 50%;
        }
}
